body {
    color: black;
    background-color:white;
    display: flex;
    justify-content: center;
    border: 50px;
    width: 800px;
    margin-left: 250px;
    padding: 50px;
  }

div {
    display: flex;
    flex-direction: column;
}

.listItems{
    display: flex;
    flex-direction: column;
    /* margin-left: .1px; */
}