.main{
    display: flex;
    flex-direction: column;
}

/* Nav */
nav{
    background-color: rgb(20, 146, 230);
    color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
}
nav h1{
    border-left:5%;
    margin-left: 5%;

}
.navLinks{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding: 5px;
    margin: 5px;
    margin-right: 20px;

}
nav button{
    padding: 14px 16px;
    border: none;
    color: white;
    background-color: transparent;
    
}

nav button:hover{
    color: white;
    font-weight: bold;
}

nav button:active{
    color: white;
    font-weight: bold;
}
#navBTN{
    font-size: 18px;
}

/* About */
.about{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
div .body {
    color: black;
    background-color:white;
    display: flex;
    flex-direction: column;
    width: 1000px;
    /* width: 100%; */
    margin-top: 20px;
    /* margin-left: 250px; */
    justify-content: center;
    padding: 50px;
    
  }

.listItems{
    display: flex;
    flex-direction: column;
}

div .headerPhoto {
    /* display: flex;
    flex-direction: start;
    align-content: stretch; */
    width: 100%;
    height: auto;
}
.headerPhoto img{
    width: 100%;
    height: auto;
}
div .body h2 {
    font-size: 30px
}
div .body p {
    font-size: 25px
}


/* PetProfile */
.profile{
    max-height: 460px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-width: 1px;
    border-radius: 7px;
    margin: 2%;
    width: 270px;
    /* height: 430px; */
    height: auto;
    overflow: hidden;
 
}
.profileHide{
    display: none;
}
.profile div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-left: 2%;
    border-right: 3%;
}
.profile button{
    align-self: center;
    border: none;
    color: rgb(20, 146, 230);
    background-color: transparent;
}
.profile button:hover{
    text-shadow: 2px 2px 4px rgb(20, 146, 230);
    font-weight: bold;
    /* border:2%;
    margin: 2%;
    padding: 2%; */
}
#moreDetails {
    display: flex;
    align-self: center;
}
.desc p{
    margin-top: 4px;
    margin-bottom: 4px;
}

/* PetProfileList */
.petList{
    /* min-height: fit-content; */
    /* max-height: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px; 
    /* width: 83%; */
    /* height: auto; */
    /* margin: 5%; */
    margin-top:7%;
}
.dogs {
    margin-left: 21px;
    justify-content: center;
    /* margin-left: 21px; */
}

#Pets{
    /* height: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 950px;
}
#profileImage{
    /* max-width: 105%; */
    /* height: auto; */
    width: 300px;
    height: 165px;
    object-fit: cover;
    padding: 0%;

}

/*Adopt a Pet*/
.petCards {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/*Pet About*/
div .bodyPet {
    color: black;
    background-color:white;
    display: flex;
    flex-direction: column;
    width: 800px;
    /* width: 100%; */
    margin-top: 70px;
    /* margin-left: 250px; */
    justify-content: center;
    padding: 50px;
    
  }
#adoptButton {
    background-color:rgb(20, 146, 230);
    color: white;
    margin: 1px;
    padding: 13px;
    border: 40px;
    width: 100px;
    border-radius: 25px;
}

.petInfo {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* margin-left: */
    
}

.petInfoWords {
    margin-left: 20px;
    font-size: x-large;
}

